<link rel="stylesheet" href="~/css/device.css" />

<div class="body-container">
    <section class="card-container">

        <section class="card">
            <div class="title">
                <h3>我的设备</h3>
                <div class="tools">
                    <input id="device_text" type="text" />
                    <button class="btn_soft" id="device_add">添加设备</button>
                </div>
            </div>
            <div id="showdevice"></div>
        </section>
    </section>
    <div class="bottom_tool">
        <button class="btn_soft" id="back" href="/Device/Index">返回</button>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/device.js"></script>
